openai
ipykernel
tomli
streamlit
# streamlit-cropper
# pillow
# matlabengine
matplotlib
webvtt-py
tiktoken
langchain
langchain-experimental
unstructured
# unstructured[local-inference]
pypdf
chromadb
# pinecone-client
llama_index
boto3
bs4
duckduckgo-search
python-dotenv
