openai
ipykernel
tomli
streamlit
# streamlit-cropper
# pillow
# matlabengine==9.12
# matplotlib
webvtt-py
tiktoken
langchain==0.0.157
unstructured
pypdf
# chromadb
# pinecone-client
llama_index==0.6.0
boto3